
/* Общие шрифты для всего*/
html, body {
	font-family: sans-serif;
}

/* Меню слева */
.sidenav {
    height: 2860%;
	width: 170px; /* Set the width of the sidebar */
    position: absolute; /* Позиция меню слева */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; 
    background-color: #f6f6f6;
    overflow-x: hidden;/* Отключение горизонтальной прокрутки */
	overflow-y: hidden;	/* Отключение вертикальной прокрутки */
    padding-top: 20px;
	display: block;
	border: 1px solid #a7d7f9;
}

/* Ссылки меню слева */
.sidenav a {
    padding: 3px 8px 1px 23px;
    text-decoration: none;
    font-size: 12px;
    display: block;
	margin-bottom: 1px;
	padding-left: 30px;
	font-family: sans-serif;
}

.sidenav h3 {
	color: #54595d;
	font-size: 0.75em;
	font-weight: normal;
	width:63%;
	margin: 20px 0px 5px 13px;
	padding-left: 18px;
	display: table;
	background-position: center bottom;
	background-image: linear-gradient(to right,rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.sidenav img {
	padding: 0px 0px 15px 15px;
}

/* Ссылки при наведение */
.sidenav a:hover {
    text-decoration: underline;
}

/* Страница с большим контентом */
.main {
    margin-left: 160px; /* Освободить место для меню слева */
    padding: 0px 10px;
}


/*Підкреслення при наведенні*/
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Формування стилю текста*/		
p, ol, li {
	line-height: 22px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/*Відступи заголовків та обзаців*/		
p, h1, h2 {
	margin-left: 15px;
	margin-bottom: 1px;
}

/*Відступи заголовків*/
h3, h4 {
	margin-left: 15px;
}

/* Підкреслювання заголовків*/
h1, h2 {
	border-bottom: 1px solid #a2a9b1;
}

i {
	margin-left: 25px;
	margin-top: 0px;
}

.sidebar {
	position: absolute;
    top: 0;
    width: 10em;
    left: 0;
}

/*Справа інформація*/
table {
    float: right; /* Выравнивание по правому краю */
    table-layout: fixed;
    width: 18%;
    /*border-collapse: collapse;*/
    border: 2px solid #a2a9b1; /* Параметры рамки */
    background: #f8f9fa; /* Цвет фона */
	text-align: left;
	padding: 0px 10px 0px 10px;
	font-size: 80%;
	margin-left: 15px;
	font-family: sans-serif;
	
}

/* Подпись-заголовок для картинки справа*/

.bandera {
	text-align: center; 
	font-size: 15px;
}

.bandera-ukr {
	font-style: italic; 
	font-weight: 200; 
	font-size: 12px;
}

/* Настройки таблицы */

.bokovoe th {
	vertical-align: top;
}

.bokovoe td {
	vertical-align: top;
	padding-bottom: 5px;
}


/* Настройки для усіх цитат */
blockquote {
	background: #f8f9fa;
	margin-left: 55px;
	border-left: 4px solid #eaecf0;
    padding: 8px 32px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}	


.abwer {
	background: #f8f9fa;
	margin-left: 55px;
	border-left: 4px solid #eaecf0;
    padding: 8px 32px;
	font-style: italic;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
}


/* Зміст */
.contents {
	background: #f8f9fa; /* Цвет фона */
	width: 500px; /* Ширина блока */
	border: 2px solid #a2a9b1; /* Параметры рамки */
	margin-left: 15px; /* Отступ от границы */
	margin-top: 25px;  /* Отступ от верха */
}		
/* Многоуровневая нумерация (нашёл решение в интрнете)*/		
.contents ol {
	list-style: none;
	counter-reset: li;
	padding-left: 1px;
}

.contents li {
	padding-left: 25px;
	font-size: 12px;
}
	
.contents li:before {
	counter-increment: li;
	content: counters(li, ".") ". ";
}


/*Для всіх малюнкиів*/		
figure {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 15px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
	width:12em;
 }

figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px;
}

figure>img {
	width:100%
}
	
/* Изменения в других картинках по сайту*/
.gen_sovet {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
	width: 20em; /*Увеличил размер картинки*/
 }

.gen_sovet figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px;
}

.gen_sovet img {
	width:100%}
	

.oun {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
	width: 20em; /*Увеличил размер картинки*/
 }

.oun figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px;
}

.oun img {
	width:100%}
	
.karta {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
	width: 20em; /*Увеличил размер картинки*/
 }

.karta figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px;
}

.karta img {
	width:100%}
	
.stecko {
    float: left; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 10px 5px 15px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
	width: 10em; /* Размер картинки*/
 }

.stecko figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px; /* Размер шрифта*/
}

.stecko img {
	width:100%}
	
	
.demonstration {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 15px 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
	width: 22em; /* Размер картинки*/
 }

.demonstration figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px; /* Размер шрифта*/
}

.demonstration img {
	width:100%}

.conclager {
	float: left; /*Выравнивание по левому краю*/
	border: 1px solid #333;/*Параметры рамки*/
	padding: 7px; /*Поля внутри блока*/
	margin: 10px 15px 5px 15px; /*Отступы вокруг */
	background: #f0f0f0; /* Цвет фона */ 
	width: 15em; /* Размер картинки*/
}

.conclager figcaption {
	margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px; /* Размер шрифта*/
}

.conclager img {
	width:100%;
}

.family {
	float: right; /* Выравнивание по правому краю */
	border: 1px solid #333;/*Параметры рамки*/
	padding: 7px; /*Поля внутри блока*/
	margin: 10px 15px 5px 5px; /*Отступы вокруг */
	background: #f0f0f0; /* Цвет фона */ 
	width: 20em; /* Размер картинки*/
}

.family figcaption {
	margin: 0 auto 5px; /* Отступы вокруг абзаца */
	font-size: 13px; /* Размер шрифта*/
}

.family img {
	width:100%;
}

